  :root {
    --primary: #2e7d32;
    --primary-dark: #1b5e20;
    --primary-light: #4caf50;
    --secondary: #e8f5e9;
  }

  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #e8f5e9, #f5f5f5);
    min-height: 100vh;
  }

  /* LOGIN */
  .login-container {
    display: flex;
    min-height: 100vh;

  }

  .login-left {
    flex: 1;
    background: url("https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?auto=format&fit=crop&w=1770&q=80") center/cover no-repeat;
    display: none;
  }

  .login-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .login-card {
    width: 100%;
    max-width: 420px;
    background: white;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.6s ease-in-out;


  }


  .btn-primary {
    background: var(--primary);
    border: none;
    transition: all .5s ease !important;
    background-color: #1b5e20 !important;
    border: 1px solid #1b5e20 !important;
  }

  .btn-primary:hover {
    background: var(--primary) !important;
    transform: scale(.95) !important;
  }

  .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .logo-icon {
    display: flex;
    align-items: flex-start;
    justify-content: center;


  }

  .logo-icon img {
    width: 80px;
    max-width: 100%;
    box-shadow: 0 4px 10px rgba(46, 125, 50, 0.3);
    border-radius: 50%;
  }

  .form-control:focus {
    border-color: var(--primary);
    box-shadow: 0 0 0 0.25rem rgba(46, 125, 50, 0.25);
  }


  .card-opciones-transversales {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .6rem;
  }

  .resgistro-url a {
    color: black;
  }


  .resgistro-url a i {

    color: var(--primary-dark);
    margin-right: .5rem;
  }

  .here {
    color: var(--primary-dark);
    font-weight: 800;
  }

  .contraseña-card a {
    color: var(--primary-dark);
    font-weight: 600;
  }



  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media (min-width: 768px) {
    .login-left {
      display: block;
    }
  }




  .tarjeta-notificacion {

    background-color: var(--primary-light);
    width: 100%;
    max-width: 600px;
    position: fixed;
    z-index: 1000;
    height: auto;
    top: 0;
    right: 0;
    padding: 1rem;
    color: white;
    display: none;

  }




  /******* RECUPERAR CONTRASEÑA */

  .login-left-recuperar {

    flex: 1;
    background: url("https://images.unsplash.com/photo-1686543971025-15aa01b5f7c7?q=80&w=387&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") center/cover no-repeat;
    display: none;

  }

  @media (min-width: 768px) {

    .login-left-recuperar {
      display: block;
    }
  }